<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<div class="container">
  <div style=" text-align: center;">
    <h1>Lista de Libros</h1>
  </div>
  <div style="text-align: right;" class="example-button-row">
    <button mat-raised-button color="primary" routerLink="/books/nuevo">Nuevo</button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Libro </th>
      <td mat-cell *matCellDef="let element"> {{element.nameBook}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de publicación </th>
      <td mat-cell *matCellDef="let element"> {{element.publicationDateBook|date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="hojas">
      <th mat-header-cell *matHeaderCellDef> Número de hojas </th>
      <td mat-cell *matCellDef="let element"> {{element.nhojas}} </td>
    </ng-container>
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element"> {{element.author.nameAuthor}} </td>
    </ng-container>
    <!-- Weight Column -->

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
</body>
